/crash-reports/
/datapacks/
/shaderpacks/
/.fabric/
/logs/
/essential/
/ModTranslations
/downloads
/.mixin.out


/config/inventoryprofilesnext
/config/litematica
/config/worldedit/sessions/
/config/worldedit/.archive-unpack
/config/WildfireGender
/config/voicechat
/config/stendhal/signs
/config/continuebutton



profile.json
realms_persistence.json
mods/Essential Dependencies.jar
config/showmeyourskin.json
config/craftify.toml
config/languagereload.json



